#div1 {
    color: black;
    background-color: rgba(255,0,0, 1.0);
    width: 100%;
}
#div2 {
    float: left;
    color: black;
    background-color: rgba(255,0,0, 0.9);
    width: 100%;
}
#div3 {
    float: left;
    color: black;
    background-color: rgba(255,0,0, 0.8);
    width: 100%;
}
#div4{
    float: left;
    color: black;
    background-color: rgba(255,0,0, 0.7);
    width: 100%;
}
#div5{
    float: left;
    color: black;
    background-color: rgba(255,0,0, 0.6);
    width: 100%;
}
#div6{
    float: left;
    color: black;
    background-color: rgba(255,0,0, 0.5);
    width: 100%;
}
#div7 {
    float: left;
    color: black;
    background-color: rgba(255,0,0, 0.4);
    width: 100%;
}
#div8 {
    float: left;
    color: black;
    background-color: rgba(255,0,0, 0.3);
    width: 100%;
}
#div9 {
    float: left;
    color: black;
    background-color: rgba(255,0,0, 0.2);
    width: 100%;
}
#div10 {
    float: left;
    color: black;
    background-color: rgba(255,0,0, 0.1);
    width: 100%;

}
#div11 {
    float: left;
    color: black;
    background-color: rgba(255,0,0, 0.0);width: 100%;
    width: 100%;

}
#div12 {
    font-weight: bold;
    float: left;
    width: 100%;
}