* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 87.5vw 12.5vw;
    grid-template-rows: 5vh 80vh 15vh;
}

header {
    grid-column-start: 1;
    grid-column-end: 3;

}